{% extends 'apps/include_base/base.html' %}

{% block body %}
    <div class="container mt-4">
        <!-- Competition Info Card -->
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="/media/bg/IMG_1416.jpeg" alt="Konkurs">
            <div class="card-body">
                <h3 class="card-title">Alijahon.uz</h3>
                <p class="card-text">Alijahon.uz sayti navbatdagi konkursiga start beradi, hammaga omad tilaymiz.</p>
                <div class="row text-center">
                    <div class="col-6 col-lg-4 mb-3">
                        <div class="card text-white bg-info">
                            <div class="card-body">
                                <h5 class="card-title">Boshlash</h5>
                                <p class="card-text">1-Mart, 2024-yil</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 mb-3">
                        <div class="card text-white bg-danger">
                            <div class="card-body">
                                <h5 class="card-title">Yakunlash</h5>
                                <p class="card-text">31-Avgust, 2024-yil</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Konkurs Natijalari</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="bg-light">
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Sotuvchi</th>
                            <th scope="col">Sotilgan</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in delivered_orders %}
                            <tr>
                                <td>{{ forloop.counter }}</td>  <!-- Row number -->
                                <td>{{ user.first_name }}</td>  <!-- User's first name -->
                                <td>{{ user.order_count }}</td>  <!-- Number of delivered orders -->
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">No delivered orders found.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
